body {
    font-family: Arial, sans-serif;
    background-color: #5cb6bd;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  .oo{
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center; 
   }
   .input {
    max-width: 190px;
    margin: 5px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
  }
  
  .input:invalid {
    animation: justshake 0.3s forwards;
    color: red;
  }
  
  @keyframes justshake {
    25% {
      transform: translateX(5px);
    }
  
    50% {
      transform: translateX(-5px);
    }
  
    75% {
      transform: translateX(5px);
    }
  
    100% {
      transform: translateX-(5px);
    }
  }
  header {
    background: #5d8638;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #94A88A 3px solid;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1 {
    margin: 0;
  }

  .img{
    width: 10px;
    height: 10px;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 20px 0 20px;
  }
  
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  header nav ul li a:hover {
    color: #C2D4B8;
  }
  
  .sidebar {
    float: left;
    width: 30%;
    margin-top: 20px;
  }
  
  .sidebar aside {
    background: #C2D4B8;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  main {
    float: right;
    width: 65%;
    margin-top: 20px;
  }
  
  section {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #405D27;
    color: #ffffff;
    margin-top: 20px;
    clear: both;
  }
  
    
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }