body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background: #405D27;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #94A88A 3px solid;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 20px 0 20px;
  }
  
  header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  header nav ul li a:hover {
    color: #C2D4B8;
  }
  
  .sidebar {
    float: left;
    width: 30%;
    margin-top: 20px;
  }
  
  .sidebar aside {
    background: #C2D4B8;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  main {
    float: right;
    width: 65%;
    margin-top: 20px;
  }
  
  section {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #405D27;
    color: #ffffff;
    margin-top: 20px;
    clear: both;
  }