<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="{{ url_for('static', filename='css/add_rviain.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>CCC</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    {% if 'logged_in' in session %}
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                        
                    {% else %}
                        <li><a href="/login">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <h1>Add Employee</h1>
    <form method="post" action="{{ url_for('add_employee') }}">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required><br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" required><br>

        <label for="confirm_password">Повторите пароль:</label>
        <input type="password" name="confirm_password" required><br>

        <label for="full_name">ФИО:</label>
        <input type="text" name="full_name" required><br>

        <label for="position">Должность:</label>
        <input type="text" name="position" required><br>

        <label for="work_schedule">График работы:</label>
        <input type="text" name="work_schedule" required><br>

        <label for="salary">Оклад:</label>
        <input type="number" name="salary" required><br>

        <label for="currency">Валюта:</label>
        <input type="text" name="currency" required><br>

        <label for="education">Образование:</label>
        <input type="text" name="education" required><br>

        <label for="start_date">Дата принятия на работу:</label>
        <input type="date" name="start_date" required><br>

        <input type="submit" value="Add Employee">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Вернуца на главное</a>
</body>
</html>
