<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/log_rviain.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <!-- Добавьте ссылку на стили или стилизуйте форму входа по своему усмотрению -->
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Учет сотруднико</h1>
            </div>
            <nav class="DCDC">
                <ul>
                    
                    <li><a style="color: rgb(255, 255, 255);" href="/">Главная</a></li>
                    {% if 'logged_in' in session %}
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                        <li><a href="/add_employee">Регистрация</a></li>
                    {% else %}
                        
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% if error %}
        <p style="color: rgb(0, 0, 0);">Не верный имя пользователя или проль</p>
    {% endif %}
<div class="dc">
    <form  method="post" action="{{ url_for('login') }}">
        <input class="input" type="text" name="username" placeholder="Имя пользователя" required><br>

        <input class="input" type="password" name="password"  placeholder="Пароль" required><br>

        <input class="input" type="submit" value="Login">
    </form>
</div>
</body>
</html>
